@charset "UTF-8";

.txt{
	width: 500px;
}

#wrt{
	position: relative;
	left: 90%;
}

.container{
	margin-left: 40%;
}

.pager{
	float : left;
	margin: 5px;
}

p{
	padding: 5px;
	margin: 5px;	
}

.p1{
	float: left;	
}

.p2{
	float: left;
}

.p3{
	clear: both;
}


input[value="등록"]{
	display: inline-block;
}

#modifyForm {
	display: none;
}

#modifyForm textarea{
	width: 300px;
}

.rep{
	border: 1px dotted black;
	margin: 20px;
	
}